<ion-view>
      <ion-content class="background">
          <div  ng-repeat="product in products" href="#" class="card">
             <div class="item item-body">
                <div class="row">
                  <img class="full-image" ng-src="{{getImage(product.image)}}">    
                </div>
                <div class="row">
                  <div class="col col-80">
                    <div class="deal-box-text-title">{{product.short_title}}</div>
                    <div class="deal-box-text">{{product.title}}</div>
                  </div>
                  <div class="col">
                    <div class="row brand"><img src="img/groupon.jpg" /></div>
                    <div class="row"><div class="price">{{product.price}} ₪</div></div>
                    <div class="row old-price">{{product.old_price}} ₪</div>
                    <div class="row"></div>
                  </div>
                </div>
                <div class="row distance">
                  {{product.location_text}} ({{product.distance | number:2}} ק"מ)
                </div>
                <div class="row">
                  <button class="button button-positive purchase-button" ng-click="purchaseProduct($index);">לרכישה</button>
                </div>
          </div>
    </ion-content>
</ion-view>
