<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
      <ion-nav-title class="h1 title">
        ארוחת בוקר
       </ion-nav-title>
       <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
      </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-positive">
      <h1 class="title">ארוחת בוקר</h1>
    </ion-header-bar>
    <ion-content class="background">
      <ion-list>
        <ion-item class="breakfast-menu-item" menu-close ng-click="rateUs()">
          דרג אותנו
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
