<ion-view>
    <ion-nav-bar class="bar-positive"> 
      <ion-nav-title class="h1 title">
        ארוחת בוקר
       </ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click = "goBack()">
            <i class = "icon ion-arrow-right-c"></i>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" ng-click = "share()">
            <i class = "icon ion-share"></i>
        </button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    
    
    <ion-content overflow-scroll="true">
         <iframe style="height:100%;width:100%" ng-src='{{productUrl}}'></iframe>
    </ion-content>
</ion-view>