<ion-view view-title="Yaniv's Player" hide-nav-bar="true" >
  
  <ion-content scroll="false" class="background">
      
    <div href="#" class="card splash-card">
     <div class="item item-body splash-card-body">
         <div class="row splash-title">
              <h1 class="splash-title-header">ארוחת בוקר</h1>
          </div>
          <div class="row splash-center-text"><img class="splash-image" src="img/icon.png"/></div>
          <div class="row splash-center-text">
              <h2>קופונים והנחות לארוחת בוקר ממגוון מסעדות. </h2></div>
          <div class="row splash-center-text"><h2>טוען הצעות קרובות למיקומך..           </h2></div>
        </div>
    </div>
  </ion-content>
</ion-view>