/* Empty. Add your own CSS if you like */
img {
    height: 50%;
    width: 50%;
}
 body{
    font-family: arial;
    text-align: right;
    direction: rtl;
    word-wrap: break-word;
 }

.background{
    background-color: #f5f9e5
}
.old-price {
    font-size: 13px;
    color: #999;
    font-weight: 400;
    text-decoration: line-through;
}

.brand {
    margin-top: 10px;
}
.price {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:20px;
    font-weight: 700;
}

.deal-box-text-title {
    font-size: 17px;
    color: black;
    font-weight: 700;
    margin: 16px;
    margin-right: 0px;
}

.deal-box-text {
    font-size: 14px;
}
.distance{
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
    color: #53a318;
    padding-right: 18px;
    background: url(../img/icon-location.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 14px;
}
.purchase-button{
 width: 100%;
 margin-top: 10px;
}

